<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Life Manager</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LIFEMANAGER_API_BASE_URL</key>
	<string>$(LIFEMANAGER_API_BASE_URL)</string>
	<key>LIFEMANAGER_CALLBACK_SCHEME</key>
	<string>$(LIFEMANAGER_CALLBACK_SCHEME)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ai.anicca.life-manager.callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(LIFEMANAGER_CALLBACK_SCHEME)</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
